@{
    ViewData["Title"] = "Página restrita";
}

<div class="text-center">
    <h1>PÁGINA RESTRITA !</h1>
</div>
<p>Essa página é restrita para desenvolvedores. Por favor, <a asp-controller="Home" asp-action="Index">volte para a página principal.</a></p>